* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 70px 20px 32px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 99;
}

.menu-button {
  width: 20px;
  height: 17px;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1f2022;
  border-radius: 20px;
}

.logo {
  margin-left: 28px;
  margin-right: 59px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 22px;
  justify-content: space-between;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
}

.search-input {
  border: none;
  background-color: transparent;
  padding: 12px 23px;
  width: 100%;
}

.search-button {
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.search-icon {
  width: 19px;
  height: 19px;
  fill: black;
}

.secondary-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  opacity: 0.24;
}

.link:hover {
  opacity: 0.7;
}

.link:not(:last-child) {
  margin-right: 50px;
}

.video-icon {
  width: 27px;
  height: 20px;
}

.apps-icon {
  width: 21px;
  height: 21px;
}

.notification-icon {
  width: 22px;
  height: 26px;
}

.user-link {
  text-decoration: none;
  margin-left: 45px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar {
  padding-left: 32px;
  position: fixed;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  width: 12%;
  background-color: white;
}

.nav-menu {
  margin-top: 0px;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.home-icon {
  width: 20px;
  height: 19px;
}

.trending-icon {
  width: 16px;
  height: 21px;
}

.subscriptions-icon {
  width: 18px;
  height: 18px;
}

.nav-item {
  margin-bottom: 28px;
}

.nav-link {
  text-decoration: none;
  color: #898989;
  display: flex;
  align-items: center;
}

.nav-item .icon {
  fill: #898989;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-link:hover .icon {
  fill: #ff0000;
}

.nav-text {
  margin-left: 13px;
}

.library-icon {
  width: 20px;
  height: 16px;
}

.history-icon {
  width: 20px;
  height: 18px;
}

.watch_later-icon {
  width: 17px;
  height: 19px;
}

.favourites-icon {
  width: 19px;
  height: 18px;
}

.liked_videos-icon {
  width: 18px;
  height: 17px;
}

.music-icon {
  width: 18px;
  height: 20px;
}

.games-icon {
  width: 22px;
  height: 16px;
}

.show_more-icon {
  width: 14px;
  height: 8px;
}

.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.nav-headline {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}

.setting-icon {
  width: 19px;
  height: 20px;
}

.content {
  width: 100%;
  height: 400px;
  margin-top: 83px;
  padding-left: 13%;
  padding-top: 30px;
}

.channel {
  position: relative;
}

.channel-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.video-card {
  width: 250px;
}

.video-thumb {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  padding: 3px 9px;
}

.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  margin: 10px 0 4px 0;
}

.video-info {
  display: flex;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
  align-items: center;
  justify-content: space-between;
}

.video-views {
  margin-right: 5px;
}

.video-views::after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.left-icon {
  width: 28px;
  height: 28px;
}

.right-icon {
  width: 28px;
  height: 28px;
}

.channel-button {
  cursor: pointer;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
  position: absolute;
  top: 15px;
  right: 8%;
}

.recommended {
  margin-top: 50px;
  position: relative;
}

.recommended-title {
  font-size: 26px;
  margin-bottom: 30px;
}

.recommended-video-card {
  width: 540px;
}

.recommended-video-thumb {
  width: 540px;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.recommended-thumbnail {
  width: 540px;
  height: 250px;
  object-fit: cover;
}

.recommended-slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
  position: absolute;
  top: 0;
  right: 8%;
}

.recommended-button {
  cursor: pointer;
}

.food {
  margin-top: 50px;
  position: relative;
}

.food-button {
  cursor: pointer;
}

.subpanel {
  position: absolute;
  top: 10px;
  left: 250px;
}

.recommended-for-you {
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
}

.subscribe {
  background: #ff0000;
  border-radius: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 780px;
}
